.card {
    width: 18rem !important;
    height: 30rem;
    margin: 2rem;
    .btn {
        background: $red;
        border: 1px solid grey;
        &:hover {
            background: red
        }
    }
    img {
        height: 75%;
    }
}