@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&display=swap");
.App {
  background: #1E1E1E;
  font-size: 16px;
}

* {
  font-family: "Barlow Condensed", sans-serif;
}

.loginContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.loginContainer .loginHeader {
  text-align: center;
}

.loginContainer .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  padding-top: 2rem;
  background-color: #FFFFFF;
  padding-bottom: 2rem;
}

.loginContainer .form div {
  width: 50%;
}

.loginContainer .errorsContainer {
  background: #EC1D24;
  width: 60%;
  height: 2rem;
  color: #FFFFFF;
  text-align: center;
}

.navbar {
  background: #2F2F2F;
}

.navbar .navTitle {
  font-family: 'Barlow Condensed', sans-serif;
  color: #FFFFFF;
  background: #EC1D24;
}

.homeContainer {
  text-align: center;
  background: #1E1E1E;
  min-height: 100vh;
  height: 100%;
}

.homeContainer .teamHeader {
  color: #FFFFFF;
  padding-top: 3rem;
}

.homeContainer .emptyTeamMessage {
  color: #FFFFFF;
}

.homeContainer .errorMessage {
  background: #EC1D24;
  color: #FFFFFF;
}

.homeContainer .heroesResultContainer {
  height: 100%;
}

.card {
  width: 18rem !important;
  height: 30rem;
  margin: 2rem;
}

.card .btn {
  background: #EC1D24;
  border: 1px solid grey;
}

.card .btn:hover {
  background: red;
}

.card img {
  height: 75%;
}

.teamCard {
  position: relative;
  width: 240px;
  height: 340px;
  color: #FFFFFF;
  margin: auto;
  background: black;
  margin-top: 4rem;
  cursor: pointer;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.teamCard:hover {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

.cardFront {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.cardFront img {
  width: 240px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  background: #EC1D24;
}

.cardBack {
  background: #4e8c42;
  height: 100%;
  width: 100%;
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

.cardBack h3 {
  color: #000000;
}

.emptyCard img {
  height: 100%;
}

.cardBack.notEmptyCard {
  background: #000000;
}

.cardBack.notEmptyCard h3 {
  color: #FFFFFF;
}

.emptyTeamMessage {
  font-size: 2.5em;
}

.modalHeadings {
  font-size: 1.5em;
  padding: 1em;
}

.powerstatTitle {
  color: #FFFFFF;
}

.generalProgressBar {
  height: 1.5rem !important;
  background-color: #8cb68c !important;
}

.backgroundStats {
  background: black;
  padding: 5rem;
  border: 3px solid #17A435;
  border-radius: 29px;
}

.backgroundStats h2 {
  font-size: 2.5em;
  margin-bottom: 1rem;
}

.backgroundStats .numberContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */